
@{
    ViewBag.Title = "IzbrisiRezervaciju";
}

<h2>Rezervacija</h2>

<br />
<div>
    <p>
       Rezervacija je uspješni izbrisana.
    </p>
</div>
<div>
    @Html.ActionLink("Povratak na rezervacije", "PregledRezervacija")
</div>


