
@{
    ViewBag.Title = "IzmijenjenaRezervacija";
}

<h2>Rezervacija</h2>

<br />
<div>
    <p>
        <label class="redColor">@ViewBag.Poruka</label>
    </p>
</div>
<div>
    @Html.ActionLink("Povratak na rezervacije", "PregledRezervacija")
</div>

