
@{
    ViewBag.Title = "Prijava";
}

<div class="container">
    <h2>Prijava</h2>
</div>

<div class="container">

    @using (Html.BeginForm("PrijavaUspjesna", "Pregled", FormMethod.Post))
    {
        <dt>
            Upišite korisničko ime:
        </dt>
        <dd>
            <input type="text" id="" name="KorisnickoIme" />
        </dd>
        <br />

        <dt>
            Upišite lozinku:
        </dt>
        <dd>
            <input type="password" id="" name="Lozinka" />
        </dd>
        <br />


        <input type="submit" value="Prijavi se" />

    }

</div>
<br />
    <div class="container">
        @Html.ActionLink("Povratak", "Index")
    </div>