
@{
    ViewBag.Title = "UpisiRezervacijuSaStatusom";
}

<h2>Uspješno promijenjena rezervacija</h2>

<br />
<div>
    <p>
        Dodali ste seminar i status na rezervaciju.
    </p>
</div>
<div>
    @Html.ActionLink("Povratak na rezervacije", "PregledRezervacija")
</div>

